node_modules
.turbo
dist
.next
out
coverage
*.tsbuildinfo
.env
.env.local
.env.*.local
!.env.example
*.pem
*.key
.DS_Store
apps/web/next-env.d.ts
packages/db/drizzle
*.log
.idea
.vscode/*
!.vscode/extensions.json
